<header>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/logout.js"></script>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> <img src="assets/img/2.png" class="w-75" alt="Logo"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {{#if active.Home}}active{{/if}}" aria-current="page" href="/">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link {{#if active.Catalogo}}active{{/if}}" aria-current="page" href="/catalogo">Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if active.Servicios}}active{{/if}}" aria-current="page" href="/servicios">Servicios</a>
          </li>
         <li class="nav-item">
            <a class="nav-link {{#if active.Contacte}}active{{/if}}" aria-current="page" href="/contacte">Contacte</a>
          </li>
        </ul>

        {{#if user.state}}
          {{#if user.type}}
          <a href="/backend">
          <input class="btn btn-success" type="button" value="Backend" style="margin-right: 10px;"/>
          </a>
           <a href="/">
          <input class="btn btn-danger" type="button" value="Loggout" onclick="logout()" />
          </a>
          {{else}}
          <a href="/">
          <input class="btn btn-danger" type="button" value="Loggout" onclick="logout()" />
          </a>
          {{/if}}
        {{else}}
           <a href="/login">
          <input class="btn btn-outline-success" type="button" value="Login" />
          </a>
        {{/if}}

      </div>
    </div>
  </nav>

</header>